[Unit]
Description=spider
After=network.target

[Service]
ExecStart=python3 /usr/bin/spider_start.py
PIDFile=/var/run/spider.pid
ExecStop=/bin/kill -s TERM $MAINPID
Restart=on-failure
KillMode=process
Type=simple

[Install]
WantedBy=multi-user.target
Alias=spider.service